version: '3.8'

services:
  rai-endpoint-simulator_replica_01:
    image: rai-endpoint-simulator:latest
    environment:
      RUST_LOG: info
    volumes:
      - ./zresponse:/app/zresponse
      - ./config.yml:/app/config.yml
    networks:
      - rai-endpoint-sim-network

  rai-endpoint-simulator_replica_02:
    image: rai-endpoint-simulator:latest
    environment:
      RUST_LOG: info
    volumes:
      - ./zresponse:/app/zresponse
      - ./config.yml:/app/config.yml
    networks:
      - rai-endpoint-sim-network


  haproxy:
    image: haproxy:latest
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "4545:4545"
    networks:
      - rai-endpoint-sim-network
    depends_on:
      - rai-endpoint-simulator_replica_01
      - rai-endpoint-simulator_replica_02

networks:
  rai-endpoint-sim-network:
    driver: bridge