version: '3.8'

services:


  rai-endpoint-simulator_replica_01:
    build: .
    image: rai-endpoint-simulator:minimized
    environment:
      RUST_LOG: info
    volumes:
      - ./zresponse:/app/zresponse
    networks:
      - rai-endpoint-sim-network

  rai-endpoint-simulator_replica_02:
    build: .
    image: rai-endpoint-simulator:minimized
    environment:
      RUST_LOG: info
    volumes:
      - ./zresponse:/app/zresponse
    networks:
      - rai-endpoint-sim-network

  rai-endpoint-simulator_replica_03:
    build: .
    image: rai-endpoint-simulator:minimized
    environment:
      RUST_LOG: info
    volumes:
      - ./zresponse:/app/zresponse
    networks:
      - rai-endpoint-sim-network

  haproxy:
    image: haproxy:latest
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "4545:4545"
    networks:
      - rai-endpoint-sim-network

networks:
  rai-endpoint-sim-network:
    driver: bridge